{% extends "App/padre.html" %}

{% load static %}

{% block cambia %}
<h1>CUIDANDO A NUESTRAS MASCOTAS!!</h1>
<br>

    <h4>{{articulos.titulo}}</h4>
    {% if mensaje %}
    <p style ='color:red'> {{mensaje}}</p>
    {% endif %}

    {% if .errors %}
    <p style ='color:red'> 'Hay un error en el formulario revisar'</p>
    {% endif %}
    
    {% for articulo in articulos %}   
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/{{ articulo.imagen }}')"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>{{articulo.subtitulo}}</h2>
                    <p class="lead mb-0">{{articulo.cuerpo}}</p>
                </div>
            </div>
    
    <img src="/{{ articulo.imagen }}" width="250" 
    height="250">
    <br>
    <p class="lead mb-0">{{ articulo }}</p>
    <br>
    {% if request.user.is_superuser %}
    <button>
        <a class="btn btn-crud-eliminar" href="{% url 'eliminararticulo' articulo.id %}"> Eliminar</a>
    </button>
    <button>
        <a class="btn btn-crud-editar" href="{% url 'editararticulo' articulo.id %}"> Editar</a>
    </button>
    {% endif %}
    <br>
    <input type="hidden" name="autor" value="{{autor}}">    
	<input type="hidden" name="fecha" value="{{fecha}}">
    
{% endfor %}
<br><br>
<button>
    <a class="btn btn-crud-agregar" href='/articuloFormulario/'> Agregar Articulo</a>
</button>

  
{% endblock %}

